/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Orbitron', sans-serif;
      background-color: rgb(36, 39, 41) !important;
    color: #e6e6e6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
a{
    text-decoration: none;
    color: #fff;
}

/* Estilo do Título */
h1 {
    font-size: 3rem;
    color: #39ff14;
    text-shadow: 0 0 10px #39ff14, 0 0 20px #00ffff;
    margin-bottom: 30px;
}

/* Estilo do formulário */
form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input {    
    background-color: gray;
    padding: 6px;
    width: 200px;
    border-radius: 20px 0px 0px 20px;
    color: #fff;
    outline: none;
    transition: all 0.3s ease-in-out;
}

input:focus {
    background-color: gray;
}

button {
    border-radius: 0px 20px 20px 0px;
    padding: 6px 6px;
    background-color: black;
    color: white;
    border: none;
    
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s;
}

button:hover {
    background: #00ffff;
    color: #000;
}

/* Container de notícias */
#news-container {
    
    border-radius: 15px !important;
    background-color: rgb(41, 47, 51) !important;
    
    color: #fff !important;
    transition: transform 0.4s ease !important;
    
}

#news-container:rover{
transform: scale(1.02) !important;
}

/* Estilo das notícias */
.news-item {
    border-radius: 15px;
    background: rgba(54, 54, 54);
    box-shadow: 0 4px 20px rgba(10, 10, 1p, 0.8);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
}

.news-item:hover {
    transform: translateY(-5px);

}

.news-item h3 {
    font-size: 1.5rem;
    color: #fff;
    
    margin-bottom: 15px;
}

.news-item p {
    font-size: 1rem;
    color: #e6e6e6;
    margin-bottom: 20px;
}

/* Botão Leia Mais */
.news-item button {
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: transparent;
    border: 2px solid #39ff14;
    color: #39ff14;
    padding: 8px 12px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s;
}

.news-item button:hover {
    background: #39ff14;
    color: #000;
}

/* Modal */
#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modal-content {
    width: 96%;
    max-width: 800px;
    height: 96%;
    background: rgba(0, 0, 0, 0.9);
    
    border: 1px solid #fff;
    
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

#close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4d;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

iframe {
    flex: 1;
    border: none;
    background: rgba(0, 0, 0, 0.8);
}


/* Estilo das imagens nas notícias */
.news-item img {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    object-fit: cover !important;
    width: 100% !important;
    height: 230px !important;
}

.categories-menu {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.categories-menu button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.categories-menu button:hover {
    background-color: #0056b3;
}
