/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Orbitron', sans-serif;
      background-color: rgb(36, 39, 41) !important;
    color: #e6e6e6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
a{
    text-decoration: none;
    color: #fff;
}

/* Estilo do Título */
h1 {
    font-size: 3rem;
    color: #39ff14;
    text-shadow: 0 0 10px #39ff14, 0 0 20px #00ffff;
    margin-bottom: 30px;
}

/* Estilo do formulário */
form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}

input {   
    border: none;
    margin-right: 5px;
    background-color: #007bff;
    padding: 12px;
    width: 60%;
    border-radius: 20px 0px 0px 20px;
    color: #fff;
    outline: none;
    transition: all 0.3s ease-in-out;
}

input:focus {
    background-color: 006bff;
}

/* From Uiverse.io by gharsh11032000 */ 
button {
  position: relative;
  width: 120px;
  height: 40px;
  background-color: #000;
  display: flex;
  align-items: center;
  color: white;
  flex-direction: column;
  justify-content: center;
  border: none;
  padding: 6px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
}

button::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -4px;
  top: -1px;
  margin: auto;
  width: 128px;
  height: 48px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

button:hover::after {
  filter: blur(30px);
}

button:hover::before {
  transform: rotate(-180deg);
}

button:active::before {
  scale: 0.7;
}









/* Container de notícias */
#news-container {
    
    border-radius: 15px !important;
    background-color: rgb(41, 47, 51) !important;
    
    color: #fff !important;
    transition: transform 0.4s ease !important;
    
}

#news-container:hover{
transform: scale(1.02) !important;
}

/* Estilo das notícias */
.news-item {
    border-radius: 15px;
    background: rgba(54, 54, 54);
    box-shadow: 0 4px 20px rgba(10, 10, 1p, 0.8);
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
}

.news-item:hover {
    transform: translateY(-5px);

}

.news-item h3 {
    font-size: 1.5rem;
    color: #fff;
    
    margin-bottom: 15px;
}

.news-item p {
    font-size: 1rem;
    color: #e6e6e6;
    margin-bottom: 20px;
}

/* Botão Leia Mais */
.news-item button {
    margin-top: 20px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: transparent;
    border: 2px solid #39ff14;
    color: #39ff14;
    padding: 8px 12px;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s;
}

.news-item button:hover {
    background: #39ff14;
    color: #000;
}

/* Modal */
#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#modal-content {
    width: 96%;
    max-width: 800px;
    height: 96%;
    background: rgba(0, 0, 0, 0.9);
    
    border: 1px solid #fff;
    
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

#close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4d;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

iframe {
    flex: 1;
    border: none;
    background: rgba(0, 0, 0, 0.8);
}


/* Estilo das imagens nas notícias */
.news-item img {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    object-fit: cover !important;
    width: 100% !important;
    height: 230px !important;
}

.categories-menu {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.categories-menu button {
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.categories-menu button:hover {
    background-color: #0056b3;
}

/* Botão flutuante */

    /* From Uiverse.io by niat786 */ 
#dolar-rate {
    position: fixed;
    right: 10px;
    bottom: 10px;
  border-radius: .25rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  color: #fff;
  -webkit-clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  clip-path: polygon(0 0,0 0,100% 0,100% 0,100% calc(100% - 15px),calc(100% - 15px) 100%,15px 100%,0 100%);
  height: 40px;
  font-size: 0.7rem;
  line-height: 14px;
  letter-spacing: 1.2px;
  transition: .2s .1s;
  background-image: linear-gradient(90deg,#1c1c1c,#6220fb);
  border: 0 solid;
  overflow: hidden;
}

#dolar-rate:hover {
  cursor: pointer;
  transition: all .3s ease-in;
  padding-right: 30px;
  padding-left: 30px;
}







/* From Uiverse.io by Amankrah */ 
.galaxy {
  height: 800px;
  width: 800px;
  background-image: radial-gradient(#ffffff 1px, transparent 1px),
    radial-gradient(#ffffff 1px, transparent 1px);
  background-size: 50px 50px;
  background-position:
    0 0,
    25px 25px;
  position: absolute;
  z-index: -1;
  animation: twinkle 5s infinite;
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

.stardust,
.cosmic-ring,
.starfield,
.nebula {
  max-height: 70px;
  max-width: 314px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  border-radius: 12px;
  filter: blur(3px);
}

.input {
  background-color: #05071b;
  border: none;
  width: 301px;
  height: 56px;
  border-radius: 10px;
  color: #a9c7ff;
  padding-inline: 59px;
  font-size: 18px;
}

#search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input::placeholder {
  color: #6e8cff;
}

.input:focus {
  outline: none;
}

#main:focus-within > #input-mask {
  display: none;
}

#input-mask {
  pointer-events: none;
  width: 100px;
  height: 20px;
  position: absolute;
  background: linear-gradient(90deg, transparent, #05071b);
  top: 18px;
  left: 70px;
}

#cosmic-glow {
  pointer-events: none;
  width: 30px;
  height: 20px;
  position: absolute;
  background: #4d6dff;
  top: 10px;
  left: 5px;
  filter: blur(20px);
  opacity: 0.8;
  transition: all 2s;
}

#main:hover > #cosmic-glow {
  opacity: 0;
}

.stardust {
  max-height: 63px;
  max-width: 307px;
  border-radius: 10px;
  filter: blur(2px);
}

.stardust::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(83deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: brightness(1.4);
  background-image: conic-gradient(
    rgba(0, 0, 0, 0) 0%,
    #4d6dff,
    rgba(0, 0, 0, 0) 8%,
    rgba(0, 0, 0, 0) 50%,
    #6e8cff,
    rgba(0, 0, 0, 0) 58%
  );
  transition: all 2s;
}

.cosmic-ring {
  max-height: 59px;
  max-width: 303px;
  border-radius: 11px;
  filter: blur(0.5px);
}

.cosmic-ring::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(70deg);
  position: absolute;
  width: 600px;
  height: 600px;
  filter: brightness(1.3);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    #05071b,
    #4d6dff 5%,
    #05071b 14%,
    #05071b 50%,
    #6e8cff 60%,
    #05071b 64%
  );
  transition: all 2s;
}

.starfield {
  max-height: 65px;
  max-width: 312px;
}

.starfield::before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(82deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #1c2452,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 50%,
    #2a3875,
    rgba(0, 0, 0, 0) 60%
  );
  transition: all 2s;
}

#search-container:hover > .starfield::before {
  transform: translate(-50%, -50%) rotate(-98deg);
}

#search-container:hover > .nebula::before {
  transform: translate(-50%, -50%) rotate(-120deg);
}

#search-container:hover > .stardust::before {
  transform: translate(-50%, -50%) rotate(-97deg);
}

#search-container:hover > .cosmic-ring::before {
  transform: translate(-50%, -50%) rotate(-110deg);
}

#search-container:focus-within > .starfield::before {
  transform: translate(-50%, -50%) rotate(442deg);
  transition: all 4s;
}

#search-container:focus-within > .nebula::before {
  transform: translate(-50%, -50%) rotate(420deg);
  transition: all 4s;
}

#search-container:focus-within > .stardust::before {
  transform: translate(-50%, -50%) rotate(443deg);
  transition: all 4s;
}

#search-container:focus-within > .cosmic-ring::before {
  transform: translate(-50%, -50%) rotate(430deg);
  transition: all 4s;
}

.nebula {
  overflow: hidden;
  filter: blur(30px);
  opacity: 0.4;
  max-height: 130px;
  max-width: 354px;
}

.nebula:before {
  content: "";
  z-index: -2;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(60deg);
  position: absolute;
  width: 999px;
  height: 999px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: conic-gradient(
    #000,
    #4d6dff 5%,
    #000 38%,
    #000 50%,
    #6e8cff 60%,
    #000 87%
  );
  transition: all 2s;
}

#wormhole-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  max-height: 40px;
  max-width: 38px;
  height: 100%;
  width: 100%;
  isolation: isolate;
  overflow: hidden;
  border-radius: 10px;
  background: linear-gradient(180deg, #1c2452, #05071b, #2a3875);
  border: 1px solid transparent;
}

.wormhole-border {
  height: 42px;
  width: 40px;
  position: absolute;
  overflow: hidden;
  top: 7px;
  right: 7px;
  border-radius: 10px;
}

.wormhole-border::before {
  content: "";
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  position: absolute;
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: 0 0;
  filter: brightness(1.35);
  background-image: conic-gradient(
    rgba(0, 0, 0, 0),
    #4d6dff,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0) 50%,
    #6e8cff,
    rgba(0, 0, 0, 0) 100%
  );
  animation: rotate 4s linear infinite;
}

#main {
  position: relative;
}

#search-icon {
  position: absolute;
  left: 20px;
  top: 15px;
}

@keyframes rotate {
  100% {
    transform: translate(-50%, -50%) rotate(450deg);
  }
}
